.container {
    display: flex;
 
    margin: 0 auto; 
    padding: 0 20px; 
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    max-width: 1700px
    
}
.containerImageSmall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100rem;
    justify-content: space-between;

    
}  



.gameBigCard {
    width: 100rem;
    height: 40rem;
    margin-bottom: 20px;
}