@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&display=swap');

.container {
    height: 150px; 
    width: 90vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;

  }

.logo{
    color: orange;
    font-size: 2.5rem;
    font-family: 'Press Start 2P', system-ui;
}
.logo span:nth-child(even){
    color: white;
}


.logoContainer {
    display: flex;
    align-items: center; 
  }
  
  .logo {
    color: orange;
    font-size: 2.5rem;
    display: flex;
   
  }
  
 

  .logo span:nth-child(even) {
    color: white;
  }
  
 
  
  .navContainer {
    display: flex;
    justify-content: flex-end; /* Coloca os links à direita */
    align-items: center;
    width: 50%; /* Ajuste conforme necessário */
  }
  
  .navContainer li {
    margin-left: 5vw; /* Adiciona um espaçamento entre os links */
  }
  
  .navContainer li:hover {
    color: rgb(219, 158, 5);
  }
  