@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&display=swap');

.container {
    height: 150px; 
    width: 90vw;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1550px;
    margin: 0 auto;
  }

.logo{
    color: orange;
    font-size: 2.5rem;
    font-family: 'Press Start 2P', system-ui;
}
.logo span:nth-child(even){
    color: white;
}


.logoContainer {
    display: flex;
    align-items: center; 
  }
  
  .logo {
    color: orange;
    font-size: 2.5rem;
    display: flex;
   
  }
  
 

  .logo span:nth-child(even) {
    color: white;
  }
  
 
  
  .navContainer {
    display: flex;
    justify-content: flex-end; /* Coloca os links à direita */
    align-items: center;
    width: 50%; /* Ajuste conforme necessário */
  }
  
  .navContainer li {
    margin-left: 5vw; /* Adiciona um espaçamento entre os links */
  }
  
  .navContainer li:hover {
    color: rgb(219, 158, 5);
  }
  
@media (max-width: 900px) {
  .container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-bottom: 3vh;
  }
  .logo{
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
}
  .logoIcon{
    width: 15vw;
    height: 15vw;
  }
  .navContainer {
    font-size: 4vw;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .navContainer li {
    margin-left: 0px;
  }
  .navContainer li button {
    font-size: 4vw; /* Adiciona um espaçamento entre os links */
  }
}