@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Press+Start+2P&display=swap');

.input {
    color: white;
    padding: 20px;
    font-family: Montserrat;
    border: 1px solid #ffffff8f;
    background-color: transparent;
    font-size: 1vw;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50vw;
}
.inputLabel{
    font-size: 1.5vw;
}
.input:focus {
    outline: none;
    border: 1px solid orange;
    
}

.inputAbout {
    height: 200px; 
    resize: vertical;
  }

.span {
    color: rgb(255, 0, 0);
    font-family: Montserrat;
}

@media (max-width: 900px) {
    .input {
        font-size: 3vw;
    }
    .inputContainer {
        width: 90vw;
    }
    .inputLabel{
        font-size: 3vw;
    }
}