@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Press+Start+2P&display=swap');

.container {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto; 
    width: 90vw;
}

.title {
    display: flex;
    justify-content: center;
    color: orange;
    margin-bottom: 1.5rem;
    font-family: 'Press Start 2P', system-ui;
}

.vagaCard {
    padding: 0.5vw;
    box-sizing: border-box; 
}