@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&display=swap');


.containerVaga{
    width: 28.3vw;
    height: 15vh;
    border: 1px solid rgb(255, 255, 255);
}

.containerVaga:hover {
    border: 1px solid rgb(253, 135, 0);
    .descricaoText {
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
    .title{
        color: rgb(253, 135, 0);
    }
}

.title {
    font-family: Montserrat;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px;
}

.descricao{
    display: flex;
}

.descricaoText {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.432);
    margin-left: 1.5vw;
    padding-inline: 0.75vw;
    font-family: Montserrat;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.432);
}

@media (max-width: 900px) {
    .containerVaga{
        width: 90vw;
        height: 15vh;
    }
    .title {
        font-size: 5vw;
    }
    .descricaoText {
        font-size: 3vw;
    }
}